@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/play-v19-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v30-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v30-latin-700.woff2') format('woff2');
}

:root {
  --color-brand-white: #ffffff;
  --color-brand-light: #2b7fff;
  --color-brand-dark: #011c44;
  --color-secondary: #747272;
}

body {
  color: var(--color-brand-dark);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.logo {
  color: var(--color-brand-light);
  font-family: 'Play';
  font-size: 22px;
  font-weight: 700;
  line-height: 0.95;
  text-transform: capitalize;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

[lang='en'] {
  text-transform: capitalize;
}

a {
  text-decoration: none;
}

/*Link*/

.header-link {
  text-decoration: none;
}

.header-link:hover {
  color: var(--color-brand-light);
  font-size: 18px;
  font-weight: 700;
}

/*Icon
.nav-icon:hover {
  color: var(--color-brand-white);
}
*/

/**Hero*/
.hero-title {
  color: var(--color-brand-light);
  font-family: 'Play';
  font-size: 140px;
  font-weight: 700;
  line-height: 0.8;
  text-transform: capitalize;
}

/*Button*/
.button {
  color: var(--color-brand-white);
  background-color: var(--color-brand-light);
  border-radius: 32px;
  font-weight: 600;
}

.section-title {
  font-family: 'Play';
  font-size: 64px;
  font-weight: 700;
  text-align: center;
}

.section-title-accent {
  color: var(--color-brand-light);
}

/*Hero-section*/

/*About us section*/
.section-title-left {
  text-align: left;
  font-family: 'Play';
  font-size: 64px;
  font-weight: 700;
}

.about-us-text {
  font-size: 22px;
  line-height: 1.7;
}

.about-us-text span {
  font-weight: 600;
  text-transform: capitalize;
}

/*Services section*/

.services-item {
  color: var(--color-brand-white);
  text-align: center;
  font-size: 22px;
}

/*Footer*/
.footer-link {
  color: var(--color-brand-white);
  font-size: 16px;
  font-style: normal;
}

.copyright {
  color: var(--color-secondary);
  font-size: 13px;
  font-style: normal;
}
